/* base background */
body {
  background-color: #80C6E2;
}

/* header */
.Header {
  background-color: #80C6E2;
  border-bottom: 1px solid #d2effb;
  box-shadow: 0 0.0625rem 0.125rem rgba(171, 171, 171, 0.3);
  width: 100%;
  z-index: 10;
}

.Header-nav {
  align-items: center;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  margin-left: 10px;
}

.Header-title {
  flex: content;
  margin-top: 2px;
  color: white;
  font-size: 2.7rem;
  font-weight: 700;
}

.Header-logo {
  display: block;
  height: 3rem;
  width: auto;
  margin-right: 10px;
  margin-bottom: 5px;
}

.Header-right-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

.Header-menu {
  align-items: stretch;
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Login button */

.Header-login-button {
  border: 1px solid rgba(255, 255, 255, 0.471);
  border-radius: 3px;
  display: flex;
}

.Header-login-button a {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;

  display: inline-flex;
  align-items: center;

  padding: 0 10px;
}

.Header-login-button a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* container setting */

.container {
  display: grid;
  margin: 0 auto;
  padding: 10px 15px 0;
  margin-top: 30px;
  max-width: 1500px;
}

/* hero-blurb */
.hero-blurb {
  grid-column: 1 / 2;
  margin-top: 20px;
}

.hero-blurb h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero-features {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 2rem;
  padding: 0;
}

.hero-features li {
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.hero-checkmark{
  margin: 0 2px;
}

/* hero-actions */
.hero-actions {
  display: flex;
  flex-wrap: wrap;
}

.hero-actions > div {
  display: flex;
  width: 100%;
}

.hero-actions a {
  max-width: 20rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.hero-actions a.Primary {
  margin-right: 2rem;
}

.hero-actions a.Primary, .hero-actions a.Secondary {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-decoration: none;
  width: 100%;

  font-size: 1.5rem;
  height: 5rem;
  line-height: 1.75rem;
}

@media screen and (max-width: 1460px) {
  .hero-features {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1260px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .terminal-wrapper {
    margin: 0 auto;
  }
}


/* hidden scroll bar */
.xterm-viewport {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.xterm-viewport::-webkit-scrollbar {
  display: none;
}

/* terminal */

.terminal-wrapper{
  grid-row: 1 / 3;
  display: flex;
  grid-column: 2 / 3;
  justify-content: flex-end;
  margin-top: 20px;
}

.xterm-viewport{ 
  margin: 0 auto;
}

.xterm-screen {
  margin: 0 auto;
}

.xterm-screen canvas {
  margin: 0 auto;
}

